name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 3️⃣ Grant execute permissions for Gradle wrapper
      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      # 4️⃣ Build Debug APK
      - name: Build Debug APK
        run: ./gradlew assembleDebug --stacktrace
        

      # 5️⃣ Upload the generated APK
      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: ar-hide-and-seek-apk
          path: ./app/build/outputs/apk/debug/app-debug.apk
